/*
 * SPDX-FileCopyrightText: 2021-2024 SanderTheDragon <sanderthedragon@zoho.com>
 *
 * SPDX-License-Identifier: MIT
 */

/* Make the "'s" fit on the same line */
span.sidebar-brand-text {
    overflow-wrap: normal !important;
}

/* Style for a table with code-blocks */
table.codetable {
    margin: 0 !important;
}

table.codetable td {
    padding: 0 !important;

    background-color: var(--color-code-background);

    vertical-align: top;
}

table.codetable td > div {
    margin: 0 !important;
}

/* Grayscale for unhovered icons */
.grayscale > svg {
    transition: filter 100ms ease-out;
}

.grayscale:not(:hover) > svg {
    filter: grayscale(100%);
}

/* Transitions for some other elements */
.back-to-top {
    display: flex !important;

    align-items: center;

    pointer-events: none;
}

* > .headerlink,
.back-to-top {
    opacity: 0;

    transition: opacity 50ms;
}

*:hover > .headerlink,
.show-back-to-top .back-to-top {
    opacity: 1;

    pointer-events: unset;
}

.theme-toggle > svg {
    color: var(--color-foreground-primary);

    transition: color 50ms;
}

.theme-toggle:hover > svg {
    color: var(--color-link);
}
